{{!-- Con un each, itero sobre cada producto del array de products y lo coloco en una etiqueta li --}}

<h1>Lista de productos (est치tica)</h1>
<ul>
  {{#each products}}
    <li>
      <h3>{{title}}</h3>
      <p><strong>Descripci칩n:</strong> {{description}}</p>
      <p><strong>C칩digo:</strong> {{code}}</p>
      <p><strong>Precio:</strong> ${{price}}</p>
      <p><strong>Stock:</strong> {{stock}}</p>
      <button class="delete-btn" data-id="{{id}}">Eliminar</button>
      {{#if thumbnails}}
        <p><strong>Im치genes:</strong></p>
        <ul>
          {{#each thumbnails}}
            <li><img src="{{this}}" style="max-width: 100px; height: auto;"></li>
          {{/each}}
        </ul>
      {{/if}}
      <hr>
    </li>
  {{/each}}
</ul>
